.splash {
  position: fixed;
  inset: 0;
  z-index: 10000;
  background: #080605;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.splash--leaving {
  opacity: 0;
  pointer-events: none;
}


.splash__video {
  position: absolute;
  inset: 0;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}

/* tezkor o'qilish effekti */
@keyframes videoSpeed {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.05);
  }
}